---
layout: default
title: Devices
---

<div id="page-wrapper">


<style>
.featureY {
    background-color: lightgreen;
    color: black;
}

.featureP {
    background-color: orange;
    color: black;
}

.featureN {
    background-color: #ff9aa2;
    color: black;
}

.featureNA {
    background-color: gray;
    color: white;
}

.featureUnk {
    color: black;
}
</style>


    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
        </div>
    </section>

    <!-- Main -->
    <section id="blog" class="container">
        <table>
            {% if site.devices.size > 0 %}
                <!-- Table Header -->
                <tr>
                    <th>Device</th>
                    <th>Sync Time</th>
                    <th>Notifications</th>
                    <th>HR Sync</th>
                    <th>Calendar</th>
                    <th>Music Control</th>
                    <th>Other</th>
                </tr>

{% assign feature_ids = "sync_time,FEATURE_ALERT,TYPE_HEART_RATE,FEATURE_EVENT_REMINDER,FEATURE_MUSIC_CONTROL,pairing,calls,navigation,battery_status,find_my_phone,FEATURE_HRM,FEATURE_WEATHER,FEATURE_ACTIVITY,FEATURE_STEPS,FEATURE_ALARMS,FEATURE_BUTTON_ACTION,FEATURE_SCREENSHOT,FEATURE_FILE_INSTALL,TYPE_DEBUGLOG,TYPE_ACTIVITY,TYPE_GPS_TRACK,TYPE_STRESS,TYPE_SPO2,TYPE_PAI,TYPE_HEART_RATE,TYPE_SLEEP_RESPIRATORY_RATE,TYPE_TEMPERATURE,TYPE_SLEEP,TYPE_HUAMI_STATISTICS,TYPE_HRV" | split: "," %}


{% assign primary_features = feature_ids | slice: 0, 5 %}
{% assign remaining_features = feature_ids | slice: 5, feature_ids.size %}

{% for device in site.devices %}
    <tr>
        <td> <a href="{{ device.url | relative_url }}">{{ device.title }}</a></td>

            {% for feature_id in primary_features %}
                {% assign feature_value = "" %}
                {% for feature in device.features %}
                    {% if feature.id == feature_id %}
                        {% assign feature_value = feature.value %}
                    {% endif %}
                {% endfor %}
                {% assign feature_class = "featureUnk" %}
                {% if feature_value contains "Y" %}
                    {% assign feature_class = "featureY" %}
                {% elsif feature_value contains "P" %}
                    {% assign feature_class = "featureP" %}
                {% elsif feature_value contains "N/A" %}
                    {% assign feature_class = "featureNA" %}
                {% elsif feature_value contains "N" %}
                    {% assign feature_class = "featureN" %}
                {% endif %}

                <td class="{{feature_class}}">{{ feature_value }}</td>
            {% endfor %}


            {% assign count = 0 %}
            {% for feature_id in remaining_features %}
                {% for feature in device.features %}
                    {% if feature.id == feature_id and feature.value contains "Y" %}
                        {% assign count = count | plus: 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
                <td>{{ count }}</td>

    </tr>
{% endfor %}

            {% else %}
                <tr>
                    <td colspan="7">No devices found.</td>
                </tr>
            {% endif %}
        </table>

        <div style="clear:both;">

<h2>Key</h2>

<ul>
    <li><strong>Y</strong> – Yes, fully implemented (or number of other working features)</li>
    <li><strong>P</strong> – Partially implemented</li>
    <li><strong>N</strong> – Not working yet</li>
    <li><strong>empty field</strong> – Untested</li>
    <li><strong>N/A</strong> – Not applicable (device does not have the feature)</li>
    <li><strong>^</strong> – See devices page for details</li>
</ul>
        </div>

    </section>
</div>