---
layout: default
---

<h1> {{ page.name }} </h1>
<img src="https://raw.githubusercontent.com/piggz/harbour-amazfish/refs/heads/master/ui/qml/pics/devices/{{ page.image }}" style="width:200px; float: right;"/>
<a href="{{ page.link }}">{{ page.link }}</a> 

<br/><br/>


{% if content %}
    {{ content }}
    <br/><br/>
{% endif %}

<table>

        {% for feature in page.features %}
            {% case feature.id %}
                {% when "pairing" %}              <tr><td>Pairing</td>                 <td>{{ feature.value }}</td></tr>
                {% when "notifications" %}        <tr><td>Notifications</td>           <td>{{ feature.value }}</td></tr>
                {% when "calls" %}                <tr><td>Calls</td>                   <td>{{ feature.value }}</td></tr>
                {% when "settings" %}             <tr><td>Settings</td>                <td>{{ feature.value }}</td></tr>
                {% when "alarms" %}               <tr><td>Alarms</td>                  <td>{{ feature.value }}</td></tr>
                {% when "sync_steps_heartrate" %} <tr><td>Sync steps and heartrate</td><td>{{ feature.value }}</td></tr>
                {% when "sync_activities" %}      <tr><td>Sync activities</td>         <td>{{ feature.value }}</td></tr>
                {% when "calendar" %}             <tr><td>Calendar</td>                <td>{{ feature.value }}</td></tr>
                {% when "watchface_download" %}   <tr><td>Watch face download</td>     <td>{{ feature.value }}</td></tr>
                {% when "firmware_upload" %}      <tr><td>Firmware upload</td>         <td>{{ feature.value }}</td></tr>
                {% when "navigation" %}           <tr><td>Navigation</td>              <td>{{ feature.value }}</td></tr>
                {% when "battery_status" %}       <tr><td>Battery status </td>         <td>{{ feature.value }}</td></tr>
                {% when "music_control" %}        <tr><td>Music Control</td>           <td>{{ feature.value }}</td></tr>
                {% when "sync_time" %}            <tr><td>Sync Time</td>               <td>{{ feature.value }}</td></tr>
                {% when "weather" %}              <tr><td>Weather</td>                 <td>{{ feature.value }}</td></tr>
            {% endcase %}
        {% endfor %}

</table>