---
layout: default
---

<style>
.featureY {
    background-color: lightgreen;
    color: black;
}

.featureP {
    background-color: orange;
    color: black;
}

.featureN {
    background-color: #ff9aa2;
    color: black;
}

.featureNA {
    background-color: gray;
    color: white;
}

.featureUnk {
    color: black;
}

</style>


<h1> {{ page.title }} </h1>

<img src="https://raw.githubusercontent.com/piggz/harbour-amazfish/refs/heads/master/ui/qml/pics/devices/{{ page.image }}" style="width:200px; float: right;"/>

<a href="https://github.com/piggz/harbour-amazfish/issues?q=is%3Aissue%20state%3Aopen%20label%3A%22{{ page.title | url_encode }}%22">
    <img src="https://img.shields.io/github/issues-search/piggz/harbour-amazfish?query=is%3Aissue+state%3Aopen+label%3A%22{{ page.title | url_encode }}%22&label=bugs&color=red" alt="Open {{ page.title }} issues">
</a> <br/>

<a href="{{ page.link }}">{{ page.link }}</a> <br/>
Support level: {% if page.support == "Gold" %}🥇 Gold{% elsif page.support == "Silver" %}🥈 Silver{% elsif page.support == "Bronze" %}🥉 Bronze{%else%}-{% endif %}

<br/><br/>

{% if content %}
    {{ content }}
    <br/><br/>
{% endif %}

<table>
    {% for feature in page.features %}
        {% assign feature_class = "featureUnk" %}
        {% if feature.value contains "Y" %}
            {% assign feature_class = "featureY" %}
        {% elsif feature.value contains "P" %}
            {% assign feature_class = "featureP" %}
        {% elsif feature.value contains "N/A" %}
            {% assign feature_class = "featureNA" %}
        {% elsif feature.value contains "N" %}
            {% assign feature_class = "featureN" %}
        {% endif %}

        {% case feature.id %}
            {% when "pairing" %}              <tr><td>Pairing</td>                 <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
            {% when "calls" %}                <tr><td>Calls</td>                   <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
            {% when "navigation" %}           <tr><td>Navigation</td>              <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
            {% when "battery_status" %}       <tr><td>Battery status </td>         <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
            {% when "sync_time" %}            <tr><td>Sync Time</td>               <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
            {% when "find_my_phone" %}        <tr><td>Find my phone</td>           <td class="{{ feature_class }}">{{ feature.value }}</td></tr>

{% when "FEATURE_ALERT" %}                <tr><td>Notifications</td>              <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_HRM" %}                  <tr><td>Heart Rate Monitor</td>         <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_WEATHER" %}              <tr><td>Weather</td>                    <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_ACTIVITY" %}             <tr><td>Sync Activities</td>            <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_STEPS" %}                <tr><td>Steps</td>                      <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_ALARMS" %}               <tr><td>Alarms</td>                     <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_EVENT_REMINDER" %}       <tr><td>Calendar</td>                   <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_MUSIC_CONTROL" %}        <tr><td>Music Control</td>              <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_BUTTON_ACTION" %}        <tr><td>Button Action</td>              <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_SCREENSHOT" %}           <tr><td>Screenshot</td>                 <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "FEATURE_FILE_INSTALL" %}         <tr><td>Firmware Install</td>           <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_DEBUGLOG" %}                <tr><td>Debug Log</td>                  <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_ACTIVITY" %}                <tr><td>Activity Data</td>              <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_GPS_TRACK" %}               <tr><td>GPS Track</td>                  <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_STRESS" %}                  <tr><td>Stress</td>                     <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_SPO2" %}                    <tr><td>SpO2</td>                       <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_PAI" %}                     <tr><td>PAI</td>                        <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_HEART_RATE" %}              <tr><td>Heart Rate</td>                 <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_SLEEP_RESPIRATORY_RATE" %}  <tr><td>Sleep Respiratory Rate</td>     <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_TEMPERATURE" %}             <tr><td>Temperature</td>                <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_SLEEP" %}                   <tr><td>Sleep</td>                      <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_HUAMI_STATISTICS" %}        <tr><td>Huami Statistics</td>           <td class="{{ feature_class }}">{{ feature.value }}</td></tr>
{% when "TYPE_HRV" %}                     <tr><td>HRV</td>                        <td class="{{ feature_class }}">{{ feature.value }}</td></tr>

        {% endcase %}
    {% endfor %}

</table>

<br/>

<a href="https://github.com/amazfish/amazfish.github.io/blob/main/{{ page.path }}?plain=1" rel="noopener">
    Edit this device
</a>
